@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: 3rem;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.image-mobile img{
    border-radius: 0 0 1em 1em;
    width: 100%;
}
.image-desktop{
    display: none;
}

.content{
    margin: 0 6%;
}
.content h1{
    font-size: 2.5rem;
    color: var(--dark-slate-grey);
    margin-top: 2rem;
}
.content p{
    font-size: 16px;
    color: var(--dark-slate-grey);
    margin-top: 1rem;
}
.content ul{
    list-style-image: url(./assets/images/icon-list.svg);
    list-style-position: outside;
    margin-left: 1.7rem;
    margin-top: 1.5rem;
}
.content ul li{
    padding: .5rem;
}
.content .email-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content #paragraph-email{
    font-size: .8rem;
    font-weight: 700;
    color: var(--charcoal-grey);
}
.content #paragraph-email-valid{
    font-size: .8rem;
    font-weight: 700;
    color: var(--tomato);
    display: none;
}
.content input{
    margin-top: .2rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    font-size: 1rem;
}
.content input:hover{
    cursor: pointer;
    border: 1px solid var(--charcoal-grey);
    outline: none;
}
.content input:focus{
    border: 1px solid var(--charcoal-grey);
    outline: none;
    color: var(--charcoal-grey);
}
.content input::placeholder{
    color: var(--grey);
}
.content button{
    margin-top: 1.5rem;
    padding: 1rem 1.3rem;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--dark-slate-grey);
    border: none;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}
.content button:hover{
    cursor: pointer;
    background: rgb(255,88,154);    
    background: linear-gradient(90deg, rgba(255,88,154,1) 0%, rgba(255,95,73,1) 100%);
    box-shadow: 0 20px  20px hsla(4, 100%, 67%, 0.404);
}
.content button:active{
    background: rgb(255,44,128);
    background: linear-gradient(90deg, rgba(255,44,128,1) 0%, rgba(255,47,19,1) 100%);
}

.content-success{
    display: none;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
}
.content-success h2{
    font-size: 2.5rem;
    color: var(--dark-slate-grey);
    margin-top: 2rem;
    line-height: 1;
}
.content-success p{
    font-size: 16px;
    color: var(--dark-slate-grey);
    margin-top: 1rem;
}
.content-success button{
    margin-top: 1.5rem;
    padding: 1rem 1.3rem;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--dark-slate-grey);
    border: none;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}
.content-success button:hover{
    cursor: pointer;
    background: rgb(255,88,154);    
    background: linear-gradient(90deg, rgba(255,88,154,1) 0%, rgba(255,95,73,1) 100%);
}
.content-success button:active{
    background: rgb(255,44,128);
    background: linear-gradient(90deg, rgba(255,44,128,1) 0%, rgba(255,47,19,1) 100%);
}



@media screen and (min-width:670px) {
    .image-desktop{
        display: block;
    }
    .image-mobile{
        display: none;
    }
    main{
        flex-direction: row;
        background-color: white;
        width: auto;
        padding: 1.5rem;
        border-radius: 2rem;
    }
    body{
        background-color: var(--charcoal-grey);
        justify-content: center;
    }
    .content-success{
        min-height: auto;
        padding: 1.5rem;
        width: 100%;
        max-width: 410px;
    }
}